@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {
  font-family: 'quicksand';
  font-weight: lighter;
  background: rgba(92,129,202,1);
  background: 
    -moz-linear-gradient(
      left, 
      rgba(92,129,202,1) 0%, 
      rgba(249,140,112,1) 100%
  );
  background:
    -webkit-linear-gradient(
        left, 
        rgba(92,129,202,1) 0%, 
        rgba(249,140,112,1) 100%
  );
}

.accordion {
   -webkit-box-shadow: 0px 13px 23px -13px rgba(0,0,0,0.5);
   width: 100%;
   background-color: transparent;
   margin: auto;
   margin-top: 50px;
}

.accordion-title {
  /* width: 400px; */
  background-color: rgba(0,0,0, .4);
  color: #ffddcc;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  line-height: 2;
  font-weight: lighter;
  position: relative;
  padding: 10px;
  z-index: 2000;
  border-radius: 4px;
  margin-top: 2px;
  transition: all .2s ease-in;
}

.accordion-title-text {
  margin-left: 10px;
}

.accordion-title:hover {
  cursor: pointer;
  background-color: rgba(0,0,0, .5);
}

.accordion-title:active {
  background-color: rgba(0, 0, 0, .55);
}

.accordion-content {
  height: 30px;
  /* width: 100%; */
  background-color: transparent;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  text-align: center;
  position: relative;
  z-index: 1000;
  margin-top: -30px;
  text-align: left;
  /* transition: all 200ms cubic-bezier(0.600, -0.280, 0.735, 0.045) ; */
  transition: 800ms ease-out ;
}

.accordion-content-open {
  margin-top: 0px;
  height: auto;
  background-color: rgba(0,0,0, .1);
  /* transition: all 350ms cubic-bezier(0.080, 1.090, 0.320, 1.275); */
  transition: all 350ms ;
}

.accordion-content-text {
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  transition: all .2s ease-out;
}

.accordion-content-text-open {
  visibility: visible;
  opacity: 1;
  transition: all .5s ease-in;
}

.accordion-fa-angle-down {
  font-size: 20px;
  color: rgba(255,255,255, .5);
  transition: all .6s cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

.accordion-fa-rotate-180 {
  color: rgba(255,255,255, 1);
}

.accordion-arrow-wrapper {
  position: absolute;
  margin-left: 375px;
}

.accordion-chapter-menu {
  position: relative;
  z-index: 2000;
  border-radius: 4px;
  margin-top: 2px;
  display: flex;
  justify-content: flex-start;
  flex-wrap:wrap;
  bottom: -2px;
}

.accordion-chapter-menu-btn {
  background-color: rgba(0,0,0, .7);
  color: #ffddcc;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  padding: 10px 5px 0;
  font-weight: lighter;
  position: relative;
  z-index: 2000;
  border-radius: 4px 4px 0 0;
  margin-top: 2px;
  margin-left: .5rem;
}

.accordion-chapter-menu-btn:hover {
  background-color: rgba(63, 2, 2, 0.4);
}

.accordion-chapter-menu-btn--active {
  filter: invert(1);
}

.accordion-section-wrapper {
  max-height: 80vh;
  overflow-y: scroll;
}